<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1>404 Page</h1>
        <p>You done f'd up</p>
        {{error}}
        {{>footer}}
    </body>
</html>